<div id="main">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="heading-about">
                Welcome to Team Jabiim's about page
                <small>Hover over the images for more information</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="card-container">
                <div class="card">
                    <div class="side">
                        <img src="images/plazarov.jpg" class="img-responsve img-center" alt="Profile pic">
                    </div>
                    <div class="side back"><a href="https://github.com/nemalp" target="_blank">Plamen Lazarov</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card-container">
                <div class="card">
                    <div class="side">
                        <img src="images/lslavov.png" class="img-responsve" alt="Profile pic">
                    </div>
                    <div class="side back"><a href="https://github.com/L-Slavov" target="_blank">Lubomir Slavov</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card-container">
                <div class="card">
                    <div class="side">
                        <img src="images/vvalkova.jpg" class="img-responsve" alt="Profile pic">
                    </div>
                    <div class="side back"><a href="https://github.com/vixyz" target="_blank">Victoria Valkova</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card-container inactive-member">
                <div class="card">
                    <div class="side">
                        <img src="images/gpopov.jpg" class="img-responsve" alt="Profile pic">
                    </div>
                    <div class="side back"><a href="#">Georgi Popov</a></div>
                    <div class="overlay">
                        <span>inactive member</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card-container inactive-member">
                <div class="card">
                    <div class="side">
                        <img src="images/ivan-vasil.jpg" class="img-responsve" alt="Profile pic">
                    </div>
                    <div class="side back"><a href="#">Ivan-Vasil Genev</a></div>
                    <div class="overlay">
                        <span>inactive member</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card-container inactive-member">
                <div class="card">
                    <div class="side">
                        <img src="images/adjambazov.jpg" class="img-responsve" alt="Profile pic">
                    </div>
                    <div class="side back"><a href="#">Angel Djambazov</a></div>
                    <div class="overlay">
                        <span>inactive member</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
