<div id="main">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke1">
                <p>Q: "Whats the object-oriented way to become wealthy?"</p>
                <p>A: Inheritance</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke2">
                <p>["hip","hip"]</p>
                <p>(hip hip array!)</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke1">
                <p>The fantastic element that explains the appeal of games to many developers is neither the fire-breathing monsters nor the milky-skinned, semi-clad sirens; it is the experience of carrying out a task
                    from start to finish without any change in the user requirements.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke0">
                <p>Why programmers like UNIX:</p>
                <p>unzip, strip, touch, finger, grep, mount, fsck, more, yes, fsck, fsck, fsck, umount, sleep</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke4">
                <p>A programmer is sent to the grocery store with instructions to "buy butter and see whether they have eggs, if they do, then buy 10."</p>
                <p>Returning with 10 butters, the programmer says, "they had eggs."</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke3">
                <p>Nothing seems hard to the people who don't know what they're talking about.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke1">
                <p>C++, where your friends can touch your private parts</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke3">
                <p>An architect, a hooker and a programmer were talking one evening, and somehow, the discussion turned to which profession was the oldest.</p>
                <p>"Come on, you guys! Everyone knows mine is the oldest profession," said the hooker.</p>
                <p>"Ah," said the architect, "but before your profession existed, there had to be people, and who was there before people?"</p>
                <p>"What are you getting at, God?" The hooker asked.</p>
                <p>"And was He not the divine architect of the universe?" The architect asked, looking smug.</p>
                <p>The programmer had been silent, but now he spoke up. "And before God took on himself the role of an architect, what was there?"</p>
                <p>"Darkness and chaos," the hooker said.</p>
                <p>"And who do you think created chaos?" the programmer said.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="joke joke4">
                <p>Q: What is the programmer's favourite hangout place?</p>
                <p>A: Foo Bar</p>
            </div>
        </div>
    </div>
</div>
